DTD/IES.dtd

<!ELEMENT ies (ciclos)>
    <!ELEMENT ciclos (ciclo*)>
    <!ELEMENT ciclo (nombre, grado, decretoTitulo)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT grado (#PCDATA)>
    <!ELEMENT decretoTitulo EMPTY>

    <!ATTLIST ies nombre CDATA #REQUIRED>
    <!ATTLIST ies web CDATA #REQUIRED>
    <!ATTLIST ciclo id CDATA #REQUIRED>
    <!ATTLIST decretoTitulo año CDATA #IMPLIED>